<div class="row">
    <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <mat-card class="contenedor-azul-celeste">
            <div class="row">
                <div class="col-8">
                    <span class="texto">Pasajero</span>
                </div>
                <div class="col-4">
                    <i class="fas fa-address-card fa-4x"></i>
                </div>
                <div class="col-12">
                    <button routerLink="/pasajero" class="btn btn-outline-light pull-right"> Entrar
                        <i class="fa fa-check"></i>
                    </button>
                </div>
            </div>
        </mat-card>
    </div>

    <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <mat-card class="contenedor-amarillo">
            <div class="row">
                <div class="col-8">
                    <span class="texto">Usuario</span>
                </div>
                <div class="col-4">
                    <i class="fas fa-user-plus fa-4x"></i>
                </div>
                <div class="col-12">
                    <button routerLink="/usuario" class="btn btn-outline-light pull-right"> Entrar
                       <i class="fa fa-check"></i>
                    </button>
                </div>
            </div>
        </mat-card>
    </div>

</div>