/*Colores Institucionales - Colores Principales*/

$azulCeleste: #1189de;
$celeste: #00bcd4;
$rosado: #ff4081;
$colorCrema:#FFFCF8;
$azulOscuro:#132644;
$amarillo:#ffc107;
$blanco:#ffffff;
$rojo:#ff0018;
$purpura:#663399;
$negro_b:#343a40;
$amarillo_b:#ffc107;

/*Colores Institucionales - Colores Principales*/


/*Colores Institucionales - Colores Complementarios*/

$lila: #9c27b0;
$turqueza: #098494;
$blancHueso: #f1f1f1;
$verdeTierno: #7ebb4a;
$gris1: #808387;
$gris2: #ccc;
$gris3: #666;
$gris4: #f5f5f5;
$gris5:#f4f4f4;
$amarillo1: #ffd8a4;
$amarillo2:#ffeace;
$verde: #006400;

/*Colores Institucionales - Colores Complementarios*/


/*Colores comunes*/

$fondoNegro: #000;
$fondoBlanco: #fff;
$textoBlanco: #f1f1f1;

/*Colores comunes*/


/*CSS DEL NAVBAR IZQUIERDO*/

$fondoBarra: #2a2e43;
$fondoArribaBarra: #1e2129;

/*CSS DEL NAVBAR IZQUIERDO*/


/* COLORES DEL GRID CAPTACIONES   */

$indianRed: #CD5C5C;
$fondoCelda: #E7AA27;