<form>
    <div class="row" *ngIf="!esNuevo">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <app-buzon-pasajeros (pasajero)="Recuperar($event)" (esNuevo)="Nuevo($event)"></app-buzon-pasajeros>
        </div>
    </div>

    <div class="row" *ngIf="esNuevo">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button mat-flat-button class="btn btn-primary float-end" (click)="Regresar()">
                <i class="fa fa-reply"></i> Regresar
            </button>
        </div>
        <app-registro-pasajero [infoPasajero]="infoPasajero" [formulario]="formPasajero"></app-registro-pasajero>
    </div>

</form>