<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 sin-espaciado">
            <app-header></app-header>
        </div>
        <div class="row">
            <div class="col-12 col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-12 col-xs-12 col-sm-10 col-md-10 col-lg-10 fondo-blanco shadow-sm espaciado-superior">
                <router-outlet></router-outlet>
            </div>
            <div class="col-12 col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>
        </div>

    </div>
</div>